source/about.html.haml
---
page_name: '<a href="#">About Us</a>'
page_description: '<a href="#">Our company is <span class="color-5">number one</span> in web industry</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">About Us</a>'
---
/ block with text begin
%article.text
  %p
    %i It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less. normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  %p.last Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
/ block with text end
%hr/
/ block portfolio begin
%article.about-team
  %h2 Our Team
  %section.about-team-info.sl-info
    %p
      Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages.
      and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    %p
      %a.btn{:href => "#"} More about team
  .flexslider
    %ul.slides
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_03.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_03.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_05.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_05.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_07.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_07.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_03.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_03.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_05.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_05.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_07.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_07.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_03.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_03.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_05.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_05.jpg"}
/ block portfolio end
%hr.line-25/
%p.description-404.last
  Plenius is
  %span easy customisable
  template for your perfect business
  %a.btn.long.blue{:href => "contact.html"} Contact Us
%hr.line-25.noline/

build/about.html
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--
  [if gt IE 8]>
-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='UTF-8' />
    <title></title>
    <meta content='' name='description' />
    <meta content='width=device-width' name='viewport' />
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/bootstrap-responsive.css' rel='stylesheet' />
    <link href='css/prettyPhoto.css' media='screen' rel='stylesheet' title='prettyPhoto main stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
    <!-- / LAYOUT -->
    <link class='layout_style' href='css/style.css' rel='stylesheet' />
    <!-- / COLORS -->
    <link class='colors_style' href='css/color_style/blue_items.css' rel='stylesheet' />
    <!-- / TEXTURES -->
    <link class='bg_style' href='css/bg_style/blue_bg.css' rel='stylesheet' />
    <!-- / SETTINGS -->
    <link href='css/settings_style.css' rel='stylesheet' />
    <script src="js/libs/modernizr-2.5.3.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='settings_box'>
      <div class='settings_icon'></div>
      <div class='layout'>
        <div class='titles'>
          <div>Light</div>
          <div>Dark</div>
        </div>
        <div class='items'>
          <img class="settings light_layout" src="img/settings/light.jpg" />
          <img class="settings dark_layout" src="img/settings/dark.jpg" />
        </div>
      </div>
      <div class='colors'>
        <div class='titles'>
          <div>Colors</div>
        </div>
        <div class='items'>
          <img class="settings turquoise_items" src="img/settings/turquoise.jpg" />
          <img class="settings yellow_items" src="img/settings/yellow.jpg" />
          <img class="settings red_items" src="img/settings/red.jpg" />
          <img class="settings green_items" src="img/settings/green.jpg" />
          <img class="settings blue_items" src="img/settings/blue.jpg" />
        </div>
      </div>
      <div class='textures'>
        <div class='titles'>
          <div>Textures</div>
        </div>
        <div class='items'>
          <img class="settings black_bg" src="img/settings/black_bg.jpg" />
          <img class="settings blue_bg" src="img/settings/blue_bg.jpg" />
        </div>
      </div>
    </div>
    <div class='white_bg_wrapper'>
      <div class='white_bg'></div>
      <div class='container'>
        <div class='highlight'></div>
        <header>
  <!-- / Upper info berin here -->
  <article class='contact-info'>
    <p class='email'>info@pleniuscompany.com</p>
    <p class='phone'>
      <span>Call Us:</span>
      (123) 456 78 90
    </p>
  </article>
  <!-- / Upper info end here -->
  <hr class='line-15 color-5' />
  <!-- / Logo begin here -->
  <hgroup class='summary'>
    <h1 class='template-name'>
      <a href='#'>plenius</a>
      <span class='color-5'>.</span>
    </h1>
    <h2 class='template-description'>
      <a href='#'>minimal PSD theme</a>
    </h2>
  </hgroup>
  <!-- / Logo end here -->
  <!-- / Navigation begin here -->
  <nav class='main-menu'>
    <ul class='first-level'>
      <li class='first active'>
        <a href='index.html'>Home</a>
      </li>
      <li>
        <a href='#'>Futures</a>
        <ul class='second-level'>
          <li>
            <a href='about.html'>About Us</a>
          </li>
          <li>
            <a href='services.html'>Services</a>
          </li>
          <li>
            <a href='pricing-tables.html'>Pricing Table</a>
          </li>
          <li>
            <a href='404.html'>404 Page</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='shortcodes.html'>Shortcodes</a>
      </li>
      <li>
        <a href='portfolio.html'>Portfolio</a>
        <ul class='second-level'>
          <li>
            <a href='portfolio-2.html'>Portfolio 2</a>
          </li>
          <li>
            <a href='portfolio-3.html'>Portfolio 3</a>
          </li>
          <li>
            <a href='portfolio-4.html'>Portfolio 4</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='blog.html'>Blog</a>
      </li>
      <li class='last'>
        <a href='contact.html'>Contacts</a>
      </li>
    </ul>
  </nav>
  <!-- / Navigation end here -->
  <hr class='line-0' />
  <!-- / Page info begin here -->
  <hgroup class='page-info'>
    <h2 class='page-name'>
      <a href="#">About Us</a>
    </h2>
    <h2 class='page-description'>
      <a href="#">Our company is <span class="color-5">number one</span> in web industry</a>
    </h2>
  </hgroup>
  <!-- / Page info end here -->
  <!-- / Page location displayed here -->
  <article class='breadcrumbs'>
    <p>
      <a href="#">Home</a> / <a href="#">About Us</a>
    </p>
  </article>
  <!-- / Page location displayed here end -->
  <hr class='line-25' />
</header>
        <div class='content'>
          <div class='light_theme'>
            <!-- block with text begin -->
<article class='text'>
  <p>
    <i>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less. normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</i>
  </p>
  <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
</article>
<!-- block with text end -->
<hr />
<!-- block portfolio begin -->
<article class='about-team'>
  <h2>Our Team</h2>
  <section class='about-team-info sl-info'>
    <p>
      Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages.
      and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <p>
      <a class='btn' href='#'>More about team</a>
    </p>
  </section>
  <div class='flexslider'>
    <ul class='slides'>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_03.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_03.jpg'></a>
        </div>
      </li>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_05.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_05.jpg'></a>
        </div>
      </li>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_07.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_07.jpg'></a>
        </div>
      </li>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_03.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_03.jpg'></a>
        </div>
      </li>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_05.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_05.jpg'></a>
        </div>
      </li>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_07.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_07.jpg'></a>
        </div>
      </li>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_03.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_03.jpg'></a>
        </div>
      </li>
      <li>
        <div class='item'>
          <div class='item-image'>
            <img alt='' src='img/about_05.jpg' />
          </div>
          <div class='overlay'></div>
          <div class='item-description'>
            <h3>John Smith</h3>
            <p class='member-description'>Position: Web Designer</p>
            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
          </div>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='google social-tooltip' href='#' title='google+'>Google+</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
          </section>
          <a class='start picture' data-rel='prettyPhoto' href='img/about_05.jpg'></a>
        </div>
      </li>
    </ul>
  </div>
</article>
<!-- block portfolio end -->
<hr class='line-25' />
<p class='description-404 last'>
  Plenius is
  <span>easy customisable</span>
  template for your perfect business
  <a class='btn long blue' href='contact.html'>Contact Us</a>
</p>
<hr class='line-25 noline' />
          </div>
        </div>
      </div>
      <div class='empty'></div>
    </div>
    <div class='footer_texture light_theme'>
  <div class='inner'>
    <footer class='container'>
      <div class='row-fluid'>
        <!-- /widget 1 begin -->
        <article class='widget-1 span3'>
          <h2>About Plenius</h2>
          <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes. on purpose (injected humour and the like).</p>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
            <a class='flickr social-tooltip' href='#' title='flickr'>Flickr</a>
          </section>
        </article>
        <!-- / widget 1 begin -->
        <!-- / Interesting Links begin -->
        <article class='widget-2 span3'>
          <h2>Interesting Links</h2>
          <ul>
            <li>
              <a href='#'>Readable content of a page</a>
            </li>
            <li>
              <a href='#'>Looking at its layout is that</a>
            </li>
            <li>
              <a href='#'>It has a More-or-less normal</a>
            </li>
            <li>
              <a href='#'>Distribution of Letters</a>
            </li>
            <li>
              <a href='#'>Using content Content here</a>
            </li>
            <li>
              <a href='#'>Readable English</a>
            </li>
          </ul>
        </article>
        <!-- / Interesting Links end -->
        <!-- / widget 3 begin -->
        <article class='widget-3 span3'>
          <h2>Twitter Feed</h2>
          <div class='twitter_widget'></div>
          <p class='last'>
            Premium Web Templates and Themes for professionals business work with
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
          <hr class='line-20' />
          <p>
            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
        </article>
        <!-- / widget 3 end -->
        <!-- / Contact form begin -->
        <article class='widget-4 span3'>
          <h2>Contact Form</h2>
          <form action='mail.php' class='plenius-form check_form' method='post'>
            <div class='field'>
              <input class='w_def_text check' data-placeholder='Name*' name='name' title='Your Name*' type='text' value='Name*' />
            </div>
            <div class='field'>
              <input class='w_def_text check email' data-placeholder='E-mail*' name='email' title='Your E-Mail*' type='text' value='E-mail*' />
            </div>
            <div class='field'>
              <textarea class='w_def_text check' cols='1' data-placeholder='Message*' name='message' rows='1' title='Message'>Message*</textarea>
            </div>
            <input class='btn' type='submit' value='Send' />
          </form>
        </article>
        <!-- / Contact form begin -->
        <hr class='line-20' />
        <article class='copyrights-box'>
          <!-- / Footer Menu begin -->
          <section class='foot-menu'>
            <ul>
              <li class='first active'>
                <a href='#'>Home</a>
              </li>
              <li>
                <a href='#'>Futures</a>
              </li>
              <li>
                <a href='#'>Shortcodes</a>
              </li>
              <li>
                <a href='#'>Portfolio</a>
              </li>
              <li>
                <a href='#'>Blog</a>
              </li>
              <li class='last'>
                <a href='#'>Contacts</a>
              </li>
            </ul>
          </section>
          <!-- / Footer Menu end -->
          <!-- / Copyrights begin -->
          <section class='copyrights'>
            <p>
              Copyright &copy; 2012
              <a href='#'>Plenius</a>.
              All rights reserved.
            </p>
          </section>
          <!-- / Copyrights end -->
        </article>
      </div>
    </footer>
  </div>
</div>
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
      //]]>
    </script>
    <script src="js/libs/jquery.tools.min.js" type="text/javascript"></script>
<script src="js/libs/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="js/libs/jquery.animate.css.rotate.scale.js" type="text/javascript"></script>
<script src="js/libs/jquery.css.transform.js" type="text/javascript"></script>
<script src="js/libs/jquery.quicksand.js" type="text/javascript"></script>
<script src="js/libs/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/libs/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="js/carousel.js" type="text/javascript"></script>
<script src="js/filter.js" type="text/javascript"></script>
<script src="js/libs/jquery.cookie.js" type="text/javascript"></script>
<script src="js/settings.js" type="text/javascript"></script>
    <!-- end scripts -->
  </body>
</html>
