source/blog.html.haml
---
page_name: '<a href="#">Blog</a>'
page_description: '<a href="#">Our <span class="color-5">interesting and useful</span> posts</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Blog</a>'
---
.row-fluid
  .content.span9
    / posts begin here
    %article.post
      %h2
        %a{:href => "blog-post.html"} There are many variations of passages
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_03.jpg"}/
          .overlay
          %a.start-2.picture{"data-rel" => "prettyPhoto", :href => "img/blog_03.jpg"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} June 25, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 12
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    %article.post
      %h2
        %a{:href => "blog-post.html"} Many desktop publishing packages
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_06.jpg"}/
          .overlay
          %a.start-2.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} July 12, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 43
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    %article.post
      %h2
        %a{:href => "blog-post.html"} Various versions have evolved over the years, sometimes by accident
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_08.jpg"}/
          .overlay
          %a.start-2.picture{"data-rel" => "prettyPhoto", :href => "img/blog_08.jpg"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} July 30, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 16
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    %article.post
      %h2
        %a{:href => "#"} Sydney College in Virginia, looked up one of the more obscure
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_06.jpg"}/
          .overlay
          %a.start-2.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} July 30, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 16
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    / posts end here
    / page navigation here
    %section.page-navigation
      %p
        %a{:href => "#"} &lt;&nbsp;&nbsp;Previous
        %a.active{:href => "#"} 1
        %a{:href => "#"} 2
        %a{:href => "#"} 3
        %a{:href => "#"} 4
        %a{:href => "#"} 5
        %a{:href => "#"} Next&nbsp;&nbsp;&gt;
    / page navigation end
    %hr.line-25.noline/
  %aside.sidebar-left.span3
    %section.search
      %form.search-form{:action => "#"}
        .field
          %input.w_def_text.check{:name => "search", :title => "Your Name*", :type => "text", :value => "Search", "data-placeholder" => "Search"}/
        %input.search-btn{:type => "submit", :value => ""}/
    / Categories begin
    %section.categories
      %h2
        %a{:href => "#"} Categories
      %ul
        %li
          %a{:href => "#"} Readable content of a page
        %li
          %a{:href => "#"} Looking at its layout is that
        %li
          %a{:href => "#"} It has a More-or-less normal
        %li
          %a{:href => "#"} Distribution of Letters
        %li
          %a{:href => "#"} Using content Content here
        %li
          %a{:href => "#"} Readable English
    / Categories end
    %hr/
    / Archive begin
    %section.archive
      %h2
        %a{:href => ""} Archive
      %ul
        %li
          %a{:href => "#"}
            February 2012
            %span 12
        %li
          %a{:href => "#"}
            March 2012
            %span 3
        %li
          %a{:href => "#"}
            April 2012
            %span 15
        %li
          %a{:href => "#"}
            May 2012
            %span 35
        %li
          %a{:href => "#"}
            June 2012
            %span 32
        %li
          %a{:href => "#"}
            July 2012
            %span 23
    / Archive end
    %hr/
    / Recent Posts begin
    %section.recent-posts
      %h2
        %a{:href => "#"} Recent Posts
      %ul
        %li
          .image
            %img{:alt => "", :src => "img/blog_01.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              03 April 2012
              %span 5 Comments
        %li
          .image
            %img{:alt => "", :src => "img/blog_02.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              12 May 2012
              %span 17 Comments
        %li
          .image
            %img{:alt => "", :src => "img/blog_04.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              23 June 2012
              %span 25 Comments
    / Recent Posts end
    %hr.notop/
    / Text Widget begin
    %section.text
      %h2
        %a{:href => "#"} Text Widget
      %p.last There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
    / Text Widget end
    %hr/
    / Latest projects begin
    %section.latest-projects
      %h2
        %a{:href => "#"} Latest Projects
      .flexslider
        %ul.slides
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
    / Latest projects end
    %hr/
    / Tag cloud begin
    %section.tag-cloud
      %h2
        %a{:href => "#"} Tags Cloud
      %ul.tags
        %li.w4
          %a{:href => ""} WEB
        %li.w1
          %a{:href => ""} Business
        %li.w3
          %a{:href => ""} Solutions APP
        %li.w4
          %a{:href => ""} Artureanec
        %li.w2
          %a{:href => ""} Theme Forest
        %li.w2
          %a{:href => ""} Development
        %li.w4
          %a{:href => ""} Flash  Ideas
        %li.w4
          %a{:href => ""} Word Press
        %li.w2
          %a{:href => ""} Themes
    / Tag cloud end
    %hr.noline/

build/blog.html
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--
  [if gt IE 8]>
-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='UTF-8' />
    <title></title>
    <meta content='' name='description' />
    <meta content='width=device-width' name='viewport' />
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/bootstrap-responsive.css' rel='stylesheet' />
    <link href='css/prettyPhoto.css' media='screen' rel='stylesheet' title='prettyPhoto main stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
    <!-- / LAYOUT -->
    <link class='layout_style' href='css/style.css' rel='stylesheet' />
    <!-- / COLORS -->
    <link class='colors_style' href='css/color_style/blue_items.css' rel='stylesheet' />
    <!-- / TEXTURES -->
    <link class='bg_style' href='css/bg_style/blue_bg.css' rel='stylesheet' />
    <!-- / SETTINGS -->
    <link href='css/settings_style.css' rel='stylesheet' />
    <script src="js/libs/modernizr-2.5.3.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='settings_box'>
      <div class='settings_icon'></div>
      <div class='layout'>
        <div class='titles'>
          <div>Light</div>
          <div>Dark</div>
        </div>
        <div class='items'>
          <img class="settings light_layout" src="img/settings/light.jpg" />
          <img class="settings dark_layout" src="img/settings/dark.jpg" />
        </div>
      </div>
      <div class='colors'>
        <div class='titles'>
          <div>Colors</div>
        </div>
        <div class='items'>
          <img class="settings turquoise_items" src="img/settings/turquoise.jpg" />
          <img class="settings yellow_items" src="img/settings/yellow.jpg" />
          <img class="settings red_items" src="img/settings/red.jpg" />
          <img class="settings green_items" src="img/settings/green.jpg" />
          <img class="settings blue_items" src="img/settings/blue.jpg" />
        </div>
      </div>
      <div class='textures'>
        <div class='titles'>
          <div>Textures</div>
        </div>
        <div class='items'>
          <img class="settings black_bg" src="img/settings/black_bg.jpg" />
          <img class="settings blue_bg" src="img/settings/blue_bg.jpg" />
        </div>
      </div>
    </div>
    <div class='white_bg_wrapper'>
      <div class='white_bg'></div>
      <div class='container'>
        <div class='highlight'></div>
        <header>
  <!-- / Upper info berin here -->
  <article class='contact-info'>
    <p class='email'>info@pleniuscompany.com</p>
    <p class='phone'>
      <span>Call Us:</span>
      (123) 456 78 90
    </p>
  </article>
  <!-- / Upper info end here -->
  <hr class='line-15 color-5' />
  <!-- / Logo begin here -->
  <hgroup class='summary'>
    <h1 class='template-name'>
      <a href='#'>plenius</a>
      <span class='color-5'>.</span>
    </h1>
    <h2 class='template-description'>
      <a href='#'>minimal PSD theme</a>
    </h2>
  </hgroup>
  <!-- / Logo end here -->
  <!-- / Navigation begin here -->
  <nav class='main-menu'>
    <ul class='first-level'>
      <li class='first active'>
        <a href='index.html'>Home</a>
      </li>
      <li>
        <a href='#'>Futures</a>
        <ul class='second-level'>
          <li>
            <a href='about.html'>About Us</a>
          </li>
          <li>
            <a href='services.html'>Services</a>
          </li>
          <li>
            <a href='pricing-tables.html'>Pricing Table</a>
          </li>
          <li>
            <a href='404.html'>404 Page</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='shortcodes.html'>Shortcodes</a>
      </li>
      <li>
        <a href='portfolio.html'>Portfolio</a>
        <ul class='second-level'>
          <li>
            <a href='portfolio-2.html'>Portfolio 2</a>
          </li>
          <li>
            <a href='portfolio-3.html'>Portfolio 3</a>
          </li>
          <li>
            <a href='portfolio-4.html'>Portfolio 4</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='blog.html'>Blog</a>
      </li>
      <li class='last'>
        <a href='contact.html'>Contacts</a>
      </li>
    </ul>
  </nav>
  <!-- / Navigation end here -->
  <hr class='line-0' />
  <!-- / Page info begin here -->
  <hgroup class='page-info'>
    <h2 class='page-name'>
      <a href="#">Blog</a>
    </h2>
    <h2 class='page-description'>
      <a href="#">Our <span class="color-5">interesting and useful</span> posts</a>
    </h2>
  </hgroup>
  <!-- / Page info end here -->
  <!-- / Page location displayed here -->
  <article class='breadcrumbs'>
    <p>
      <a href="#">Home</a> / <a href="#">Blog</a>
    </p>
  </article>
  <!-- / Page location displayed here end -->
  <hr class='line-25' />
</header>
        <div class='content'>
          <div class='light_theme'>
            <div class='row-fluid'>
  <div class='content span9'>
    <!-- posts begin here -->
    <article class='post'>
      <h2>
        <a href='blog-post.html'>There are many variations of passages</a>
      </h2>
      <div class='entry'>
        <div class='post-media'>
          <div class='wrapper'>
            <img alt='' src='img/blog_03.jpg' />
          </div>
          <div class='overlay'></div>
          <a class='start-2 picture' data-rel='prettyPhoto' href='img/blog_03.jpg'></a>
        </div>
        <p class='post-metadata'>
          <span class='date'>
            <b>Posted:</b>
            <a href='#'>June 25, 2012</a>
          </span>
          <span class='author'>
            <b>Author:</b>
            <a href='#'>Artureanec</a>
          </span>
          <span class='tags'>
            <b>Tags:</b>
            <a href='#'>Web Design</a>,
            <a href='#'>Development</a>,
            <a href='#'>Internet</a>
          </span>
          <span class='comments'>
            <a href='#'>
              <b>12</b>
              Comments
            </a>
          </span>
        </p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <p class='more'>
          <a class='btn' href='blog-post.html'>Read more</a>
        </p>
      </div>
    </article>
    <article class='post'>
      <h2>
        <a href='blog-post.html'>Many desktop publishing packages</a>
      </h2>
      <div class='entry'>
        <div class='post-media'>
          <div class='wrapper'>
            <img alt='' src='img/blog_06.jpg' />
          </div>
          <div class='overlay'></div>
          <a class='start-2 video' data-rel='prettyPhoto' href='http://vimeo.com/8245346'></a>
        </div>
        <p class='post-metadata'>
          <span class='date'>
            <b>Posted:</b>
            <a href='#'>July 12, 2012</a>
          </span>
          <span class='author'>
            <b>Author:</b>
            <a href='#'>Artureanec</a>
          </span>
          <span class='tags'>
            <b>Tags:</b>
            <a href='#'>Web Design</a>,
            <a href='#'>Development</a>,
            <a href='#'>Internet</a>
          </span>
          <span class='comments'>
            <a href='#'>
              <b>43</b>
              Comments
            </a>
          </span>
        </p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <p class='more'>
          <a class='btn' href='blog-post.html'>Read more</a>
        </p>
      </div>
    </article>
    <article class='post'>
      <h2>
        <a href='blog-post.html'>Various versions have evolved over the years, sometimes by accident</a>
      </h2>
      <div class='entry'>
        <div class='post-media'>
          <div class='wrapper'>
            <img alt='' src='img/blog_08.jpg' />
          </div>
          <div class='overlay'></div>
          <a class='start-2 picture' data-rel='prettyPhoto' href='img/blog_08.jpg'></a>
        </div>
        <p class='post-metadata'>
          <span class='date'>
            <b>Posted:</b>
            <a href='#'>July 30, 2012</a>
          </span>
          <span class='author'>
            <b>Author:</b>
            <a href='#'>Artureanec</a>
          </span>
          <span class='tags'>
            <b>Tags:</b>
            <a href='#'>Web Design</a>,
            <a href='#'>Development</a>,
            <a href='#'>Internet</a>
          </span>
          <span class='comments'>
            <a href='#'>
              <b>16</b>
              Comments
            </a>
          </span>
        </p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <p class='more'>
          <a class='btn' href='blog-post.html'>Read more</a>
        </p>
      </div>
    </article>
    <article class='post'>
      <h2>
        <a href='#'>Sydney College in Virginia, looked up one of the more obscure</a>
      </h2>
      <div class='entry'>
        <div class='post-media'>
          <div class='wrapper'>
            <img alt='' src='img/blog_06.jpg' />
          </div>
          <div class='overlay'></div>
          <a class='start-2 video' data-rel='prettyPhoto' href='http://vimeo.com/8245346'></a>
        </div>
        <p class='post-metadata'>
          <span class='date'>
            <b>Posted:</b>
            <a href='#'>July 30, 2012</a>
          </span>
          <span class='author'>
            <b>Author:</b>
            <a href='#'>Artureanec</a>
          </span>
          <span class='tags'>
            <b>Tags:</b>
            <a href='#'>Web Design</a>,
            <a href='#'>Development</a>,
            <a href='#'>Internet</a>
          </span>
          <span class='comments'>
            <a href='#'>
              <b>16</b>
              Comments
            </a>
          </span>
        </p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <p class='more'>
          <a class='btn' href='blog-post.html'>Read more</a>
        </p>
      </div>
    </article>
    <!-- posts end here -->
    <!-- page navigation here -->
    <section class='page-navigation'>
      <p>
        <a href='#'>&lt;&nbsp;&nbsp;Previous</a>
        <a class='active' href='#'>1</a>
        <a href='#'>2</a>
        <a href='#'>3</a>
        <a href='#'>4</a>
        <a href='#'>5</a>
        <a href='#'>Next&nbsp;&nbsp;&gt;</a>
      </p>
    </section>
    <!-- page navigation end -->
    <hr class='line-25 noline' />
  </div>
  <aside class='sidebar-left span3'>
    <section class='search'>
      <form action='#' class='search-form'>
        <div class='field'>
          <input class='w_def_text check' data-placeholder='Search' name='search' title='Your Name*' type='text' value='Search' />
        </div>
        <input class='search-btn' type='submit' value='' />
      </form>
    </section>
    <!-- Categories begin -->
    <section class='categories'>
      <h2>
        <a href='#'>Categories</a>
      </h2>
      <ul>
        <li>
          <a href='#'>Readable content of a page</a>
        </li>
        <li>
          <a href='#'>Looking at its layout is that</a>
        </li>
        <li>
          <a href='#'>It has a More-or-less normal</a>
        </li>
        <li>
          <a href='#'>Distribution of Letters</a>
        </li>
        <li>
          <a href='#'>Using content Content here</a>
        </li>
        <li>
          <a href='#'>Readable English</a>
        </li>
      </ul>
    </section>
    <!-- Categories end -->
    <hr />
    <!-- Archive begin -->
    <section class='archive'>
      <h2>
        <a href=''>Archive</a>
      </h2>
      <ul>
        <li>
          <a href='#'>
            February 2012
            <span>12</span>
          </a>
        </li>
        <li>
          <a href='#'>
            March 2012
            <span>3</span>
          </a>
        </li>
        <li>
          <a href='#'>
            April 2012
            <span>15</span>
          </a>
        </li>
        <li>
          <a href='#'>
            May 2012
            <span>35</span>
          </a>
        </li>
        <li>
          <a href='#'>
            June 2012
            <span>32</span>
          </a>
        </li>
        <li>
          <a href='#'>
            July 2012
            <span>23</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- Archive end -->
    <hr />
    <!-- Recent Posts begin -->
    <section class='recent-posts'>
      <h2>
        <a href='#'>Recent Posts</a>
      </h2>
      <ul>
        <li>
          <div class='image'>
            <img alt='' src='img/blog_01.jpg' />
          </div>
          <div class='text'>
            <p class='short'>Suffered alteration in some form, by injected humour.</p>
            <p class='metadata'>
              03 April 2012
              <span>5 Comments</span>
            </p>
          </div>
        </li>
        <li>
          <div class='image'>
            <img alt='' src='img/blog_02.jpg' />
          </div>
          <div class='text'>
            <p class='short'>Suffered alteration in some form, by injected humour.</p>
            <p class='metadata'>
              12 May 2012
              <span>17 Comments</span>
            </p>
          </div>
        </li>
        <li>
          <div class='image'>
            <img alt='' src='img/blog_04.jpg' />
          </div>
          <div class='text'>
            <p class='short'>Suffered alteration in some form, by injected humour.</p>
            <p class='metadata'>
              23 June 2012
              <span>25 Comments</span>
            </p>
          </div>
        </li>
      </ul>
    </section>
    <!-- Recent Posts end -->
    <hr class='notop' />
    <!-- Text Widget begin -->
    <section class='text'>
      <h2>
        <a href='#'>Text Widget</a>
      </h2>
      <p class='last'>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
    </section>
    <!-- Text Widget end -->
    <hr />
    <!-- Latest projects begin -->
    <section class='latest-projects'>
      <h2>
        <a href='#'>Latest Projects</a>
      </h2>
      <div class='flexslider'>
        <ul class='slides'>
          <li class='item'>
            <a href='#'>
              <img alt='' src='img/blog_05.jpg' />
            </a>
          </li>
          <li class='item'>
            <a href='#'>
              <img alt='' src='img/blog_05.jpg' />
            </a>
          </li>
          <li class='item'>
            <a href='#'>
              <img alt='' src='img/blog_05.jpg' />
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- Latest projects end -->
    <hr />
    <!-- Tag cloud begin -->
    <section class='tag-cloud'>
      <h2>
        <a href='#'>Tags Cloud</a>
      </h2>
      <ul class='tags'>
        <li class='w4'>
          <a href=''>WEB</a>
        </li>
        <li class='w1'>
          <a href=''>Business</a>
        </li>
        <li class='w3'>
          <a href=''>Solutions APP</a>
        </li>
        <li class='w4'>
          <a href=''>Artureanec</a>
        </li>
        <li class='w2'>
          <a href=''>Theme Forest</a>
        </li>
        <li class='w2'>
          <a href=''>Development</a>
        </li>
        <li class='w4'>
          <a href=''>Flash  Ideas</a>
        </li>
        <li class='w4'>
          <a href=''>Word Press</a>
        </li>
        <li class='w2'>
          <a href=''>Themes</a>
        </li>
      </ul>
    </section>
    <!-- Tag cloud end -->
    <hr class='noline' />
  </aside>
</div>
          </div>
        </div>
      </div>
      <div class='empty'></div>
    </div>
    <div class='footer_texture light_theme'>
  <div class='inner'>
    <footer class='container'>
      <div class='row-fluid'>
        <!-- /widget 1 begin -->
        <article class='widget-1 span3'>
          <h2>About Plenius</h2>
          <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes. on purpose (injected humour and the like).</p>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
            <a class='flickr social-tooltip' href='#' title='flickr'>Flickr</a>
          </section>
        </article>
        <!-- / widget 1 begin -->
        <!-- / Interesting Links begin -->
        <article class='widget-2 span3'>
          <h2>Interesting Links</h2>
          <ul>
            <li>
              <a href='#'>Readable content of a page</a>
            </li>
            <li>
              <a href='#'>Looking at its layout is that</a>
            </li>
            <li>
              <a href='#'>It has a More-or-less normal</a>
            </li>
            <li>
              <a href='#'>Distribution of Letters</a>
            </li>
            <li>
              <a href='#'>Using content Content here</a>
            </li>
            <li>
              <a href='#'>Readable English</a>
            </li>
          </ul>
        </article>
        <!-- / Interesting Links end -->
        <!-- / widget 3 begin -->
        <article class='widget-3 span3'>
          <h2>Twitter Feed</h2>
          <div class='twitter_widget'></div>
          <p class='last'>
            Premium Web Templates and Themes for professionals business work with
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
          <hr class='line-20' />
          <p>
            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
        </article>
        <!-- / widget 3 end -->
        <!-- / Contact form begin -->
        <article class='widget-4 span3'>
          <h2>Contact Form</h2>
          <form action='mail.php' class='plenius-form check_form' method='post'>
            <div class='field'>
              <input class='w_def_text check' data-placeholder='Name*' name='name' title='Your Name*' type='text' value='Name*' />
            </div>
            <div class='field'>
              <input class='w_def_text check email' data-placeholder='E-mail*' name='email' title='Your E-Mail*' type='text' value='E-mail*' />
            </div>
            <div class='field'>
              <textarea class='w_def_text check' cols='1' data-placeholder='Message*' name='message' rows='1' title='Message'>Message*</textarea>
            </div>
            <input class='btn' type='submit' value='Send' />
          </form>
        </article>
        <!-- / Contact form begin -->
        <hr class='line-20' />
        <article class='copyrights-box'>
          <!-- / Footer Menu begin -->
          <section class='foot-menu'>
            <ul>
              <li class='first active'>
                <a href='#'>Home</a>
              </li>
              <li>
                <a href='#'>Futures</a>
              </li>
              <li>
                <a href='#'>Shortcodes</a>
              </li>
              <li>
                <a href='#'>Portfolio</a>
              </li>
              <li>
                <a href='#'>Blog</a>
              </li>
              <li class='last'>
                <a href='#'>Contacts</a>
              </li>
            </ul>
          </section>
          <!-- / Footer Menu end -->
          <!-- / Copyrights begin -->
          <section class='copyrights'>
            <p>
              Copyright &copy; 2012
              <a href='#'>Plenius</a>.
              All rights reserved.
            </p>
          </section>
          <!-- / Copyrights end -->
        </article>
      </div>
    </footer>
  </div>
</div>
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
      //]]>
    </script>
    <script src="js/libs/jquery.tools.min.js" type="text/javascript"></script>
<script src="js/libs/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="js/libs/jquery.animate.css.rotate.scale.js" type="text/javascript"></script>
<script src="js/libs/jquery.css.transform.js" type="text/javascript"></script>
<script src="js/libs/jquery.quicksand.js" type="text/javascript"></script>
<script src="js/libs/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/libs/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="js/carousel.js" type="text/javascript"></script>
<script src="js/filter.js" type="text/javascript"></script>
<script src="js/libs/jquery.cookie.js" type="text/javascript"></script>
<script src="js/settings.js" type="text/javascript"></script>
    <!-- end scripts -->
  </body>
</html>
