source/pricing-tables.html.haml
---
page_name: '<a href="#">Pricing Tables</a>'
page_description: '<a href="#">Our <span class="color-5">prices</span> will surprise you very much</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Pricing Tables</a>'
---
%h2 Pricing Tables
%p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
/ First pricing table begin
%article.price-table.col-4
  .column
    .td.title Basic
    .td.price Free
    .td Limited Edition
    .td Demo Version
    .td -
    .td 1 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Standart
    .td.price
      20$
      %small /month
    .td 10 Options
    .td Limited Version
    .td +
    .td 10 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column.active
    .td.title Advanced
    .td.price
      60$
      %small /month
    .td 50 Options
    .td Full Version
    .td +
    .td 25 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Premium
    .td.price
      200$
      %small /month
    .td 1000 Options
    .td Full Version
    .td +
    .td 100 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .clearfix
/ First pricing table end
%hr/
/ Second pricing table begin
%article.price-table.col-5
  .column
    .td.title Basic
    .td.price Free
    .td Limited Edition
    .td Demo Version
    .td -
    .td 1 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Standart
    .td.price
      20$
      %small /month
    .td 10 Options
    .td Limited Version
    .td +
    .td 10 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Advanced
    .td.price
      60$
      %small /month
    .td 50 Options
    .td Full Version
    .td +
    .td 25 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Plus
    .td.price
      120$
      %small /month
    .td 500 Options
    .td Full Version
    .td +
    .td 80 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Premium
    .td.price
      200$
      %small /month
    .td 1000 Options
    .td Full Version
    .td +
    .td 100 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .clearfix
/ Second pricing table end
%hr.line-25.noline/

build/pricing-tables.html
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--
  [if gt IE 8]>
-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='UTF-8' />
    <title></title>
    <meta content='' name='description' />
    <meta content='width=device-width' name='viewport' />
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/bootstrap-responsive.css' rel='stylesheet' />
    <link href='css/prettyPhoto.css' media='screen' rel='stylesheet' title='prettyPhoto main stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
    <!-- / LAYOUT -->
    <link class='layout_style' href='css/style.css' rel='stylesheet' />
    <!-- / COLORS -->
    <link class='colors_style' href='css/color_style/blue_items.css' rel='stylesheet' />
    <!-- / TEXTURES -->
    <link class='bg_style' href='css/bg_style/blue_bg.css' rel='stylesheet' />
    <!-- / SETTINGS -->
    <link href='css/settings_style.css' rel='stylesheet' />
    <script src="js/libs/modernizr-2.5.3.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='settings_box'>
      <div class='settings_icon'></div>
      <div class='layout'>
        <div class='titles'>
          <div>Light</div>
          <div>Dark</div>
        </div>
        <div class='items'>
          <img class="settings light_layout" src="img/settings/light.jpg" />
          <img class="settings dark_layout" src="img/settings/dark.jpg" />
        </div>
      </div>
      <div class='colors'>
        <div class='titles'>
          <div>Colors</div>
        </div>
        <div class='items'>
          <img class="settings turquoise_items" src="img/settings/turquoise.jpg" />
          <img class="settings yellow_items" src="img/settings/yellow.jpg" />
          <img class="settings red_items" src="img/settings/red.jpg" />
          <img class="settings green_items" src="img/settings/green.jpg" />
          <img class="settings blue_items" src="img/settings/blue.jpg" />
        </div>
      </div>
      <div class='textures'>
        <div class='titles'>
          <div>Textures</div>
        </div>
        <div class='items'>
          <img class="settings black_bg" src="img/settings/black_bg.jpg" />
          <img class="settings blue_bg" src="img/settings/blue_bg.jpg" />
        </div>
      </div>
    </div>
    <div class='white_bg_wrapper'>
      <div class='white_bg'></div>
      <div class='container'>
        <div class='highlight'></div>
        <header>
  <!-- / Upper info berin here -->
  <article class='contact-info'>
    <p class='email'>info@pleniuscompany.com</p>
    <p class='phone'>
      <span>Call Us:</span>
      (123) 456 78 90
    </p>
  </article>
  <!-- / Upper info end here -->
  <hr class='line-15 color-5' />
  <!-- / Logo begin here -->
  <hgroup class='summary'>
    <h1 class='template-name'>
      <a href='#'>plenius</a>
      <span class='color-5'>.</span>
    </h1>
    <h2 class='template-description'>
      <a href='#'>minimal PSD theme</a>
    </h2>
  </hgroup>
  <!-- / Logo end here -->
  <!-- / Navigation begin here -->
  <nav class='main-menu'>
    <ul class='first-level'>
      <li class='first active'>
        <a href='index.html'>Home</a>
      </li>
      <li>
        <a href='#'>Futures</a>
        <ul class='second-level'>
          <li>
            <a href='about.html'>About Us</a>
          </li>
          <li>
            <a href='services.html'>Services</a>
          </li>
          <li>
            <a href='pricing-tables.html'>Pricing Table</a>
          </li>
          <li>
            <a href='404.html'>404 Page</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='shortcodes.html'>Shortcodes</a>
      </li>
      <li>
        <a href='portfolio.html'>Portfolio</a>
        <ul class='second-level'>
          <li>
            <a href='portfolio-2.html'>Portfolio 2</a>
          </li>
          <li>
            <a href='portfolio-3.html'>Portfolio 3</a>
          </li>
          <li>
            <a href='portfolio-4.html'>Portfolio 4</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='blog.html'>Blog</a>
      </li>
      <li class='last'>
        <a href='contact.html'>Contacts</a>
      </li>
    </ul>
  </nav>
  <!-- / Navigation end here -->
  <hr class='line-0' />
  <!-- / Page info begin here -->
  <hgroup class='page-info'>
    <h2 class='page-name'>
      <a href="#">Pricing Tables</a>
    </h2>
    <h2 class='page-description'>
      <a href="#">Our <span class="color-5">prices</span> will surprise you very much</a>
    </h2>
  </hgroup>
  <!-- / Page info end here -->
  <!-- / Page location displayed here -->
  <article class='breadcrumbs'>
    <p>
      <a href="#">Home</a> / <a href="#">Pricing Tables</a>
    </p>
  </article>
  <!-- / Page location displayed here end -->
  <hr class='line-25' />
</header>
        <div class='content'>
          <div class='light_theme'>
            <h2>Pricing Tables</h2>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
<!-- First pricing table begin -->
<article class='price-table col-4'>
  <div class='column'>
    <div class='td title'>Basic</div>
    <div class='td price'>Free</div>
    <div class='td'>Limited Edition</div>
    <div class='td'>Demo Version</div>
    <div class='td'>-</div>
    <div class='td'>1 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='column'>
    <div class='td title'>Standart</div>
    <div class='td price'>
      20$
      <small>/month</small>
    </div>
    <div class='td'>10 Options</div>
    <div class='td'>Limited Version</div>
    <div class='td'>+</div>
    <div class='td'>10 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='column active'>
    <div class='td title'>Advanced</div>
    <div class='td price'>
      60$
      <small>/month</small>
    </div>
    <div class='td'>50 Options</div>
    <div class='td'>Full Version</div>
    <div class='td'>+</div>
    <div class='td'>25 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='column'>
    <div class='td title'>Premium</div>
    <div class='td price'>
      200$
      <small>/month</small>
    </div>
    <div class='td'>1000 Options</div>
    <div class='td'>Full Version</div>
    <div class='td'>+</div>
    <div class='td'>100 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='clearfix'></div>
</article>
<!-- First pricing table end -->
<hr />
<!-- Second pricing table begin -->
<article class='price-table col-5'>
  <div class='column'>
    <div class='td title'>Basic</div>
    <div class='td price'>Free</div>
    <div class='td'>Limited Edition</div>
    <div class='td'>Demo Version</div>
    <div class='td'>-</div>
    <div class='td'>1 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='column'>
    <div class='td title'>Standart</div>
    <div class='td price'>
      20$
      <small>/month</small>
    </div>
    <div class='td'>10 Options</div>
    <div class='td'>Limited Version</div>
    <div class='td'>+</div>
    <div class='td'>10 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='column'>
    <div class='td title'>Advanced</div>
    <div class='td price'>
      60$
      <small>/month</small>
    </div>
    <div class='td'>50 Options</div>
    <div class='td'>Full Version</div>
    <div class='td'>+</div>
    <div class='td'>25 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='column'>
    <div class='td title'>Plus</div>
    <div class='td price'>
      120$
      <small>/month</small>
    </div>
    <div class='td'>500 Options</div>
    <div class='td'>Full Version</div>
    <div class='td'>+</div>
    <div class='td'>80 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='column'>
    <div class='td title'>Premium</div>
    <div class='td price'>
      200$
      <small>/month</small>
    </div>
    <div class='td'>1000 Options</div>
    <div class='td'>Full Version</div>
    <div class='td'>+</div>
    <div class='td'>100 Gb Free Space</div>
    <div class='td confirm'>
      <a class='btn long' href='#'>Sign up</a>
    </div>
  </div>
  <div class='clearfix'></div>
</article>
<!-- Second pricing table end -->
<hr class='line-25 noline' />
          </div>
        </div>
      </div>
      <div class='empty'></div>
    </div>
    <div class='footer_texture light_theme'>
  <div class='inner'>
    <footer class='container'>
      <div class='row-fluid'>
        <!-- /widget 1 begin -->
        <article class='widget-1 span3'>
          <h2>About Plenius</h2>
          <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes. on purpose (injected humour and the like).</p>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
            <a class='flickr social-tooltip' href='#' title='flickr'>Flickr</a>
          </section>
        </article>
        <!-- / widget 1 begin -->
        <!-- / Interesting Links begin -->
        <article class='widget-2 span3'>
          <h2>Interesting Links</h2>
          <ul>
            <li>
              <a href='#'>Readable content of a page</a>
            </li>
            <li>
              <a href='#'>Looking at its layout is that</a>
            </li>
            <li>
              <a href='#'>It has a More-or-less normal</a>
            </li>
            <li>
              <a href='#'>Distribution of Letters</a>
            </li>
            <li>
              <a href='#'>Using content Content here</a>
            </li>
            <li>
              <a href='#'>Readable English</a>
            </li>
          </ul>
        </article>
        <!-- / Interesting Links end -->
        <!-- / widget 3 begin -->
        <article class='widget-3 span3'>
          <h2>Twitter Feed</h2>
          <div class='twitter_widget'></div>
          <p class='last'>
            Premium Web Templates and Themes for professionals business work with
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
          <hr class='line-20' />
          <p>
            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
        </article>
        <!-- / widget 3 end -->
        <!-- / Contact form begin -->
        <article class='widget-4 span3'>
          <h2>Contact Form</h2>
          <form action='mail.php' class='plenius-form check_form' method='post'>
            <div class='field'>
              <input class='w_def_text check' data-placeholder='Name*' name='name' title='Your Name*' type='text' value='Name*' />
            </div>
            <div class='field'>
              <input class='w_def_text check email' data-placeholder='E-mail*' name='email' title='Your E-Mail*' type='text' value='E-mail*' />
            </div>
            <div class='field'>
              <textarea class='w_def_text check' cols='1' data-placeholder='Message*' name='message' rows='1' title='Message'>Message*</textarea>
            </div>
            <input class='btn' type='submit' value='Send' />
          </form>
        </article>
        <!-- / Contact form begin -->
        <hr class='line-20' />
        <article class='copyrights-box'>
          <!-- / Footer Menu begin -->
          <section class='foot-menu'>
            <ul>
              <li class='first active'>
                <a href='#'>Home</a>
              </li>
              <li>
                <a href='#'>Futures</a>
              </li>
              <li>
                <a href='#'>Shortcodes</a>
              </li>
              <li>
                <a href='#'>Portfolio</a>
              </li>
              <li>
                <a href='#'>Blog</a>
              </li>
              <li class='last'>
                <a href='#'>Contacts</a>
              </li>
            </ul>
          </section>
          <!-- / Footer Menu end -->
          <!-- / Copyrights begin -->
          <section class='copyrights'>
            <p>
              Copyright &copy; 2012
              <a href='#'>Plenius</a>.
              All rights reserved.
            </p>
          </section>
          <!-- / Copyrights end -->
        </article>
      </div>
    </footer>
  </div>
</div>
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
      //]]>
    </script>
    <script src="js/libs/jquery.tools.min.js" type="text/javascript"></script>
<script src="js/libs/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="js/libs/jquery.animate.css.rotate.scale.js" type="text/javascript"></script>
<script src="js/libs/jquery.css.transform.js" type="text/javascript"></script>
<script src="js/libs/jquery.quicksand.js" type="text/javascript"></script>
<script src="js/libs/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/libs/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="js/carousel.js" type="text/javascript"></script>
<script src="js/filter.js" type="text/javascript"></script>
<script src="js/libs/jquery.cookie.js" type="text/javascript"></script>
<script src="js/settings.js" type="text/javascript"></script>
    <!-- end scripts -->
  </body>
</html>
