build/services.html
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--
  [if gt IE 8]>
-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='UTF-8' />
    <title></title>
    <meta content='' name='description' />
    <meta content='width=device-width' name='viewport' />
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/bootstrap-responsive.css' rel='stylesheet' />
    <link href='css/prettyPhoto.css' media='screen' rel='stylesheet' title='prettyPhoto main stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
    <!-- / LAYOUT -->
    <link class='layout_style' href='css/style.css' rel='stylesheet' />
    <!-- / COLORS -->
    <link class='colors_style' href='css/color_style/blue_items.css' rel='stylesheet' />
    <!-- / TEXTURES -->
    <link class='bg_style' href='css/bg_style/blue_bg.css' rel='stylesheet' />
    <!-- / SETTINGS -->
    <link href='css/settings_style.css' rel='stylesheet' />
    <script src="js/libs/modernizr-2.5.3.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='settings_box'>
      <div class='settings_icon'></div>
      <div class='layout'>
        <div class='titles'>
          <div>Light</div>
          <div>Dark</div>
        </div>
        <div class='items'>
          <img class="settings light_layout" src="img/settings/light.jpg" />
          <img class="settings dark_layout" src="img/settings/dark.jpg" />
        </div>
      </div>
      <div class='colors'>
        <div class='titles'>
          <div>Colors</div>
        </div>
        <div class='items'>
          <img class="settings turquoise_items" src="img/settings/turquoise.jpg" />
          <img class="settings yellow_items" src="img/settings/yellow.jpg" />
          <img class="settings red_items" src="img/settings/red.jpg" />
          <img class="settings green_items" src="img/settings/green.jpg" />
          <img class="settings blue_items" src="img/settings/blue.jpg" />
        </div>
      </div>
      <div class='textures'>
        <div class='titles'>
          <div>Textures</div>
        </div>
        <div class='items'>
          <img class="settings black_bg" src="img/settings/black_bg.jpg" />
          <img class="settings blue_bg" src="img/settings/blue_bg.jpg" />
        </div>
      </div>
    </div>
    <div class='white_bg_wrapper'>
      <div class='white_bg'></div>
      <div class='container'>
        <div class='highlight'></div>
        <header>
  <!-- / Upper info berin here -->
  <article class='contact-info'>
    <p class='email'>info@pleniuscompany.com</p>
    <p class='phone'>
      <span>Call Us:</span>
      (123) 456 78 90
    </p>
  </article>
  <!-- / Upper info end here -->
  <hr class='line-15 color-5' />
  <!-- / Logo begin here -->
  <hgroup class='summary'>
    <h1 class='template-name'>
      <a href='#'>plenius</a>
      <span class='color-5'>.</span>
    </h1>
    <h2 class='template-description'>
      <a href='#'>minimal PSD theme</a>
    </h2>
  </hgroup>
  <!-- / Logo end here -->
  <!-- / Navigation begin here -->
  <nav class='main-menu'>
    <ul class='first-level'>
      <li class='first active'>
        <a href='index.html'>Home</a>
      </li>
      <li>
        <a href='#'>Futures</a>
        <ul class='second-level'>
          <li>
            <a href='about.html'>About Us</a>
          </li>
          <li>
            <a href='services.html'>Services</a>
          </li>
          <li>
            <a href='pricing-tables.html'>Pricing Table</a>
          </li>
          <li>
            <a href='404.html'>404 Page</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='shortcodes.html'>Shortcodes</a>
      </li>
      <li>
        <a href='portfolio.html'>Portfolio</a>
        <ul class='second-level'>
          <li>
            <a href='portfolio-2.html'>Portfolio 2</a>
          </li>
          <li>
            <a href='portfolio-3.html'>Portfolio 3</a>
          </li>
          <li>
            <a href='portfolio-4.html'>Portfolio 4</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='blog.html'>Blog</a>
      </li>
      <li class='last'>
        <a href='contact.html'>Contacts</a>
      </li>
    </ul>
  </nav>
  <!-- / Navigation end here -->
  <hr class='line-0' />
  <!-- / Page info begin here -->
  <hgroup class='page-info'>
    <h2 class='page-name'>
      <a href="#">Services</a>
    </h2>
    <h2 class='page-description'>
      <a href="#">Our benefits will <span class="color-5">always</span> delight you</a>
    </h2>
  </hgroup>
  <!-- / Page info end here -->
  <!-- / Page location displayed here -->
  <article class='breadcrumbs'>
    <p>
      <a href="#">Home</a> / <a href="#">Services</a>
    </p>
  </article>
  <!-- / Page location displayed here end -->
  <hr class='line-25' />
</header>
        <div class='content'>
          <div class='light_theme'>
            <!-- block with text begin -->
<article class='text'>
  <p>
    <i>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less. normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</i>
  </p>
  <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
</article>
<!-- block with text end -->
<hr />
<div class='row-fluid'>
  <!-- Blocks with picture and info begin here -->
  <article class='short-info'>
    <div class='span6'>
      <section class='block-with-icon'>
        <div class='for-img'>
          <img alt='' class='color_img' src='img/blue/announcement.png' />
        </div>
        <div class='for-text'>
          <h2>Announcement</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less. normal distribution of letters, as opposed to using 'Content here content.</p>
        </div>
      </section>
      <section class='block-with-icon'>
        <div class='for-img'>
          <img alt='' class='color_img' src='img/blue/timespending.png' />
        </div>
        <div class='for-text'>
          <h2>Time Spending</h2>
          <p>Fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.</p>
        </div>
      </section>
      <section class='block-with-icon resp-class-1'>
        <div class='for-img'>
          <img alt='' class='color_img' src='img/blue/socialnetwork.png' />
        </div>
        <div class='for-text'>
          <h2>Social Networks</h2>
          <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
        </div>
      </section>
    </div>
    <div class='span6'>
      <section class='block-with-icon'>
        <div class='for-img'>
          <img alt='' class='color_img' src='img/blue/freshideas.png' />
        </div>
        <div class='for-text'>
          <h2>Fresh Ideas</h2>
          <p>Publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will. uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.</p>
        </div>
      </section>
      <section class='block-with-icon'>
        <div class='for-img'>
          <img alt='' class='color_img' src='img/blue/developertools.png' />
        </div>
        <div class='for-text'>
          <h2>Development Process</h2>
          <p>Opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web. page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'.</p>
        </div>
      </section>
      <section class='block-with-icon'>
        <div class='for-img'>
          <img alt='' class='color_img' src='img/blue/chatsupport.png' />
        </div>
        <div class='for-text'>
          <h2>Chat Support</h2>
          <p class='last'>Web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will. uncover many web sites. still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
        </div>
      </section>
    </div>
  </article>
  <!-- Blocks with picture and info end here -->
</div>
<hr />
<div class='row-fluid'>
  <!-- Blocks with quotes begin here -->
  <article class='quotes span4'>
    <h2>What Clients Says</h2>
    <section class='flexslider'>
      <ul class='slides'>
        <li>
          <blockquote class='quote-1'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved. ...over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</blockquote>
          <p class='autor'>
            John Smith,
            <span>Vice President</span>
          </p>
        </li>
        <li>
          <blockquote class='quote-1'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved. ...over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</blockquote>
          <p class='autor'>
            John Smith,
            <span>Vice President</span>
          </p>
        </li>
      </ul>
    </section>
  </article>
  <!-- Blocks with quotes end here -->
  <!-- Block with TOGGLEs begin here -->
  <article class='accordion span4'>
    <h2>Accordion</h2>
    <div class='accordion_wrapper'>
      <section class='accord'>
        <h5 class='current'>
          <span>Contrary to popular belief, Lorem Ipsum</span>
        </h5>
        <div class='accordion-content'>
          <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
        <h5>
          <span>Many desktop publishing packages</span>
        </h5>
        <div class='accordion-content'>
          <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
        <h5>
          <span>Contrary to popular belief, Lorem Ipsum</span>
        </h5>
        <div class='accordion-content'>
          <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
      </section>
    </div>
  </article>
  <!-- Block with TOGGLEs end here -->
  <!-- Block list begin here -->
  <article class='block-list span4'>
    <h2>Additional Services</h2>
    <ul>
      <li>Readable content of a page Looking at its layout is that</li>
      <li>It has a More-or-less normal Distribution of Letters</li>
      <li>Using content Content here Readable English</li>
      <li>Many desktop publishing packages and web page</li>
      <li>Editors now use Lorem Ipsum as their default model</li>
      <li>Text and a search for 'lorem ipsum' will uncover many</li>
      <li>Versions have evolved over the years, sometimes by accident</li>
    </ul>
  </article>
  <!-- Block list end here -->
</div>
<hr />
<!-- Block clients logo begin here -->
<div class='clients'>
  <h2>Our Clients</h2>
  <div class='flexslider'>
    <ul class='slides'>
      <li>
        <img alt='' src='img/client-1.png' />
      </li>
      <li>
        <img alt='' src='img/client-2.png' />
      </li>
      <li>
        <img alt='' src='img/client-3.png' />
      </li>
      <li>
        <img alt='' src='img/client-4.png' />
      </li>
      <li>
        <img alt='' src='img/client-5.png' />
      </li>
      <li>
        <img alt='' src='img/client-6.png' />
      </li>
      <li>
        <img alt='' src='img/client-3.png' />
      </li>
      <li>
        <img alt='' src='img/client-2.png' />
      </li>
      <li>
        <img alt='' src='img/client-1.png' />
      </li>
      <li>
        <img alt='' src='img/client-4.png' />
      </li>
      <li>
        <img alt='' src='img/client-6.png' />
      </li>
      <li>
        <img alt='' src='img/client-5.png' />
      </li>
    </ul>
  </div>
</div>
<!-- Block clients logo end here -->
<hr class='line-25 noline' />
          </div>
        </div>
      </div>
      <div class='empty'></div>
    </div>
    <div class='footer_texture light_theme'>
  <div class='inner'>
    <footer class='container'>
      <div class='row-fluid'>
        <!-- /widget 1 begin -->
        <article class='widget-1 span3'>
          <h2>About Plenius</h2>
          <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes. on purpose (injected humour and the like).</p>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
            <a class='flickr social-tooltip' href='#' title='flickr'>Flickr</a>
          </section>
        </article>
        <!-- / widget 1 begin -->
        <!-- / Interesting Links begin -->
        <article class='widget-2 span3'>
          <h2>Interesting Links</h2>
          <ul>
            <li>
              <a href='#'>Readable content of a page</a>
            </li>
            <li>
              <a href='#'>Looking at its layout is that</a>
            </li>
            <li>
              <a href='#'>It has a More-or-less normal</a>
            </li>
            <li>
              <a href='#'>Distribution of Letters</a>
            </li>
            <li>
              <a href='#'>Using content Content here</a>
            </li>
            <li>
              <a href='#'>Readable English</a>
            </li>
          </ul>
        </article>
        <!-- / Interesting Links end -->
        <!-- / widget 3 begin -->
        <article class='widget-3 span3'>
          <h2>Twitter Feed</h2>
          <div class='twitter_widget'></div>
          <p class='last'>
            Premium Web Templates and Themes for professionals business work with
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
          <hr class='line-20' />
          <p>
            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
        </article>
        <!-- / widget 3 end -->
        <!-- / Contact form begin -->
        <article class='widget-4 span3'>
          <h2>Contact Form</h2>
          <form action='mail.php' class='plenius-form check_form' method='post'>
            <div class='field'>
              <input class='w_def_text check' data-placeholder='Name*' name='name' title='Your Name*' type='text' value='Name*' />
            </div>
            <div class='field'>
              <input class='w_def_text check email' data-placeholder='E-mail*' name='email' title='Your E-Mail*' type='text' value='E-mail*' />
            </div>
            <div class='field'>
              <textarea class='w_def_text check' cols='1' data-placeholder='Message*' name='message' rows='1' title='Message'>Message*</textarea>
            </div>
            <input class='btn' type='submit' value='Send' />
          </form>
        </article>
        <!-- / Contact form begin -->
        <hr class='line-20' />
        <article class='copyrights-box'>
          <!-- / Footer Menu begin -->
          <section class='foot-menu'>
            <ul>
              <li class='first active'>
                <a href='#'>Home</a>
              </li>
              <li>
                <a href='#'>Futures</a>
              </li>
              <li>
                <a href='#'>Shortcodes</a>
              </li>
              <li>
                <a href='#'>Portfolio</a>
              </li>
              <li>
                <a href='#'>Blog</a>
              </li>
              <li class='last'>
                <a href='#'>Contacts</a>
              </li>
            </ul>
          </section>
          <!-- / Footer Menu end -->
          <!-- / Copyrights begin -->
          <section class='copyrights'>
            <p>
              Copyright &copy; 2012
              <a href='#'>Plenius</a>.
              All rights reserved.
            </p>
          </section>
          <!-- / Copyrights end -->
        </article>
      </div>
    </footer>
  </div>
</div>
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
      //]]>
    </script>
    <script src="js/libs/jquery.tools.min.js" type="text/javascript"></script>
<script src="js/libs/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="js/libs/jquery.animate.css.rotate.scale.js" type="text/javascript"></script>
<script src="js/libs/jquery.css.transform.js" type="text/javascript"></script>
<script src="js/libs/jquery.quicksand.js" type="text/javascript"></script>
<script src="js/libs/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/libs/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="js/carousel.js" type="text/javascript"></script>
<script src="js/filter.js" type="text/javascript"></script>
<script src="js/libs/jquery.cookie.js" type="text/javascript"></script>
<script src="js/settings.js" type="text/javascript"></script>
    <!-- end scripts -->
  </body>
</html>

source/services.html.haml
---
page_name: '<a href="#">Services</a>'
page_description: '<a href="#">Our benefits will <span class="color-5">always</span> delight you</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Services</a>'
---
/ block with text begin
%article.text
  %p
    %i It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less. normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  %p.last Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
/ block with text end
%hr/
.row-fluid
  / Blocks with picture and info begin here
  %article.short-info
    .span6
      %section.block-with-icon
        .for-img
          %img{:alt => "",  :class=>"color_img", :src => "img/blue/announcement.png"}/
        .for-text
          %h2 Announcement
          %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less. normal distribution of letters, as opposed to using 'Content here content.
      %section.block-with-icon
        .for-img
          %img{:alt => "",  :class=>"color_img", :src => "img/blue/timespending.png"}/
        .for-text
          %h2 Time Spending
          %p Fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
      %section.block-with-icon.resp-class-1
        .for-img
          %img{:alt => "",  :class=>"color_img", :src => "img/blue/socialnetwork.png"}/
        .for-text
          %h2 Social Networks
          %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text.
    .span6
      %section.block-with-icon
        .for-img
          %img{:alt => "",  :class=>"color_img", :src => "img/blue/freshideas.png"}/
        .for-text
          %h2 Fresh Ideas
          %p Publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will. uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
      %section.block-with-icon
        .for-img
          %img{:alt => "",  :class=>"color_img", :src => "img/blue/developertools.png"}/
        .for-text
          %h2 Development Process
          %p Opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web. page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'.
      %section.block-with-icon
        .for-img
          %img{:alt => "",  :class=>"color_img", :src => "img/blue/chatsupport.png"}/
        .for-text
          %h2 Chat Support
          %p.last Web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will. uncover many web sites. still in their infancy. Various versions have evolved over the years, sometimes by accident.
  / Blocks with picture and info end here
%hr/
.row-fluid
  / Blocks with quotes begin here
  %article.quotes.span4
    %h2 What Clients Says
    %section.flexslider
      %ul.slides
        %li
          %blockquote.quote-1 Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved. ...over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          %p.autor
            John Smith,
            %span Vice President
        %li
          %blockquote.quote-1 Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved. ...over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          %p.autor
            John Smith,
            %span Vice President
  / Blocks with quotes end here
  / Block with TOGGLEs begin here
  %article.accordion.span4
    %h2 Accordion
    .accordion_wrapper
      %section.accord
        %h5.current
          %span Contrary to popular belief, Lorem Ipsum
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        %h5
          %span Many desktop publishing packages
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        %h5
          %span Contrary to popular belief, Lorem Ipsum
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
  / Block with TOGGLEs end here
  / Block list begin here
  %article.block-list.span4
    %h2 Additional Services
    %ul
      %li Readable content of a page Looking at its layout is that
      %li It has a More-or-less normal Distribution of Letters
      %li Using content Content here Readable English
      %li Many desktop publishing packages and web page
      %li Editors now use Lorem Ipsum as their default model
      %li Text and a search for 'lorem ipsum' will uncover many
      %li Versions have evolved over the years, sometimes by accident
  / Block list end here
%hr/
/ Block clients logo begin here
.clients
  %h2 Our Clients
  .flexslider
    %ul.slides
      %li
        %img{:alt => "", :src => "img/client-1.png"}
      %li
        %img{:alt => "", :src => "img/client-2.png"}       
      %li
        %img{:alt => "", :src => "img/client-3.png"}       
      %li
        %img{:alt => "", :src => "img/client-4.png"}       
      %li
        %img{:alt => "", :src => "img/client-5.png"}       
      %li
        %img{:alt => "", :src => "img/client-6.png"}       
      %li
        %img{:alt => "", :src => "img/client-3.png"}       
      %li
        %img{:alt => "", :src => "img/client-2.png"}       
      %li
        %img{:alt => "", :src => "img/client-1.png"}       
      %li
        %img{:alt => "", :src => "img/client-4.png"}       
      %li
        %img{:alt => "", :src => "img/client-6.png"}       
      %li
        %img{:alt => "", :src => "img/client-5.png"} 
/ Block clients logo end here
%hr.line-25.noline/
