source/shortcodes.html.haml
---
page_name: '<a href="#">Shortcodes</a>'
page_description: '<a href="#">Different <span class="color-5">shortcodes</span> and elements</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Shortcodes</a>'
---
/ Buttons begin here
%article.buttons
  %h2 Buttons
  %section
    %a.btn.small.dark{:href => "#"}
      %span Small button
    %a.btn.small.blue{:href => "#"}
      %span Small button
    %a.btn.small.yellow{:href => "#"}
      %span Small button
    %a.btn.small.red{:href => "#"}
      %span Small button
    %a.btn.small.green{:href => "#"}
      %span Small button
    %a.btn.small.turquoise{:href => "#"}
      %span Small button
  %section
    %a.btn.long{:href => "#"}
      %span Long button
    %a.btn.long.blue{:href => "#"}
      %span Long button
    %a.btn.long.yellow{:href => "#"}
      %span Long button
    %a.btn.long.red{:href => "#"}
      %span Long button
    %a.btn.long.green{:href => "#"}
      %span Long button
    %a.btn.long.turquoise{:href => "#"}
      %span Long button
  %section.last
    %a.btn.large{:href => "#"}
      %span Big button
    %a.btn.large.blue{:href => "#"}
      %span Big button
    %a.btn.large.yellow{:href => "#"}
      %span Big button
    %a.btn.large.red{:href => "#"}
      %span Big button
    %a.btn.large.green{:href => "#"}
      %span Big button
    %a.btn.large.turquoise{:href => "#"}
      %span Big button
/ Buttons end here
%hr/
.row-fluid
  / Block with TABs begin here
  %article.tabs.span6
    %h2 Tabs
    .tabs_wrapper
      / tab links
      %ul.tabs-nav
        %li
          %a.current{:href => "#"} Item 1
        %li
          %a{:href => "#"} Item 2
        %li
          %a{:href => "#"} Item 3
      / tab links end
      / tab content
      %section.tabs-content
        %section.tab-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        %section.tab-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        %section.tab-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.
      / tab content end
  / Block with TABs end here
  / Block with TOGGLEs begin here
  %article.accordion.span6
    %h2 Accordion
    .accordion_wrapper
      %section.accord
        %h5.current
          %span The point of using Lorem Ipsum is that it has a more-or-less
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        %h5
          %span Many desktop publishing packages and web page editors
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        %h5
          %span Will be distracted by the readable content of a page when
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
  / Block with TOGGLEs end here
%hr/
.row-fluid
  / Tables begin
  %article.tables.span6
    %h2 Tables
    %table.plenius-table{:border => ""}
      %tr
        %th Item 1
        %th Item 1
        %th Item 1
        %th Item 1
        %th Item 1
      %tr
        %td Item 2
        %td Item 2
        %td Item 2
        %td Item 2
        %td Item 2
      %tr
        %td Item 3
        %td Item 3
        %td Item 3
        %td Item 3
        %td Item 3
      %tr
        %td Item 4
        %td Item 4
        %td Item 4
        %td Item 4
        %td Item 4
      %tr
        %td Item 5
        %td Item 5
        %td Item 5
        %td Item 5
        %td Item 5
  / Tables end
  / Example block with colored style
  %article.style-boxes.span6
    %h2 Styled Boxes
    %section.style-box.info
      .box-logo
        %p.last Information Styled Box
    %section.style-box.warning
      .box-logo
        %p.last Warning Styled Box
    %section.style-box.access
      .box-logo
        %p.last Access Styled Box
    %section.style-box.help.last
      .box-logo
        %p.last Help Styled Box
  / Example block with colored style end
%hr/
/ block lists begin here
%article.lists
  %h2 Lists
  .row-fluid
    %ul.list_1.span2
      %li Arrow List Item  1
      %li Arrow List Item  2
      %li Arrow List Item  3
      %li Arrow List Item  4
    %ul.list_2.span2
      %li Check List Item 1
      %li Check List Item 2
      %li Check List Item 3
      %li Check List Item 4
    %ul.list_3.span2
      %li Bullet List Item 1
      %li Bullet List Item 2
      %li Bullet List Item 3
      %li Bullet List Item 4
    %ul.list_4.span2
      %li Add List Item 1
      %li Add List Item 2
      %li Add List Item 3
      %li Add List Item 4
    %ul.list_5.span2
      %li Star List Item 1
      %li Star List Item 2
      %li Star List Item 3
      %li Star List Item 4
    %ul.list_6.span2
      %li Close List Item 1
      %li Close List Item 2
      %li Close List Item 3
      %li Close List Item 4
/ block lists begin here
%hr.line-25.noline/

build/shortcodes.html
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--
  [if gt IE 8]>
-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='UTF-8' />
    <title></title>
    <meta content='' name='description' />
    <meta content='width=device-width' name='viewport' />
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/bootstrap-responsive.css' rel='stylesheet' />
    <link href='css/prettyPhoto.css' media='screen' rel='stylesheet' title='prettyPhoto main stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
    <!-- / LAYOUT -->
    <link class='layout_style' href='css/style.css' rel='stylesheet' />
    <!-- / COLORS -->
    <link class='colors_style' href='css/color_style/blue_items.css' rel='stylesheet' />
    <!-- / TEXTURES -->
    <link class='bg_style' href='css/bg_style/blue_bg.css' rel='stylesheet' />
    <!-- / SETTINGS -->
    <link href='css/settings_style.css' rel='stylesheet' />
    <script src="js/libs/modernizr-2.5.3.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='settings_box'>
      <div class='settings_icon'></div>
      <div class='layout'>
        <div class='titles'>
          <div>Light</div>
          <div>Dark</div>
        </div>
        <div class='items'>
          <img class="settings light_layout" src="img/settings/light.jpg" />
          <img class="settings dark_layout" src="img/settings/dark.jpg" />
        </div>
      </div>
      <div class='colors'>
        <div class='titles'>
          <div>Colors</div>
        </div>
        <div class='items'>
          <img class="settings turquoise_items" src="img/settings/turquoise.jpg" />
          <img class="settings yellow_items" src="img/settings/yellow.jpg" />
          <img class="settings red_items" src="img/settings/red.jpg" />
          <img class="settings green_items" src="img/settings/green.jpg" />
          <img class="settings blue_items" src="img/settings/blue.jpg" />
        </div>
      </div>
      <div class='textures'>
        <div class='titles'>
          <div>Textures</div>
        </div>
        <div class='items'>
          <img class="settings black_bg" src="img/settings/black_bg.jpg" />
          <img class="settings blue_bg" src="img/settings/blue_bg.jpg" />
        </div>
      </div>
    </div>
    <div class='white_bg_wrapper'>
      <div class='white_bg'></div>
      <div class='container'>
        <div class='highlight'></div>
        <header>
  <!-- / Upper info berin here -->
  <article class='contact-info'>
    <p class='email'>info@pleniuscompany.com</p>
    <p class='phone'>
      <span>Call Us:</span>
      (123) 456 78 90
    </p>
  </article>
  <!-- / Upper info end here -->
  <hr class='line-15 color-5' />
  <!-- / Logo begin here -->
  <hgroup class='summary'>
    <h1 class='template-name'>
      <a href='#'>plenius</a>
      <span class='color-5'>.</span>
    </h1>
    <h2 class='template-description'>
      <a href='#'>minimal PSD theme</a>
    </h2>
  </hgroup>
  <!-- / Logo end here -->
  <!-- / Navigation begin here -->
  <nav class='main-menu'>
    <ul class='first-level'>
      <li class='first active'>
        <a href='index.html'>Home</a>
      </li>
      <li>
        <a href='#'>Futures</a>
        <ul class='second-level'>
          <li>
            <a href='about.html'>About Us</a>
          </li>
          <li>
            <a href='services.html'>Services</a>
          </li>
          <li>
            <a href='pricing-tables.html'>Pricing Table</a>
          </li>
          <li>
            <a href='404.html'>404 Page</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='shortcodes.html'>Shortcodes</a>
      </li>
      <li>
        <a href='portfolio.html'>Portfolio</a>
        <ul class='second-level'>
          <li>
            <a href='portfolio-2.html'>Portfolio 2</a>
          </li>
          <li>
            <a href='portfolio-3.html'>Portfolio 3</a>
          </li>
          <li>
            <a href='portfolio-4.html'>Portfolio 4</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='blog.html'>Blog</a>
      </li>
      <li class='last'>
        <a href='contact.html'>Contacts</a>
      </li>
    </ul>
  </nav>
  <!-- / Navigation end here -->
  <hr class='line-0' />
  <!-- / Page info begin here -->
  <hgroup class='page-info'>
    <h2 class='page-name'>
      <a href="#">Shortcodes</a>
    </h2>
    <h2 class='page-description'>
      <a href="#">Different <span class="color-5">shortcodes</span> and elements</a>
    </h2>
  </hgroup>
  <!-- / Page info end here -->
  <!-- / Page location displayed here -->
  <article class='breadcrumbs'>
    <p>
      <a href="#">Home</a> / <a href="#">Shortcodes</a>
    </p>
  </article>
  <!-- / Page location displayed here end -->
  <hr class='line-25' />
</header>
        <div class='content'>
          <div class='light_theme'>
            <!-- Buttons begin here -->
            <article class='buttons'>
              <h2>Buttons</h2>
              <section>
                <a class='btn small dark' href='#'>
                  <span>Small button</span>
                </a>
                <a class='btn small blue' href='#'>
                  <span>Small button</span>
                </a>
                <a class='btn small yellow' href='#'>
                  <span>Small button</span>
                </a>
                <a class='btn small red' href='#'>
                  <span>Small button</span>
                </a>
                <a class='btn small green' href='#'>
                  <span>Small button</span>
                </a>
                <a class='btn small turquoise' href='#'>
                  <span>Small button</span>
                </a>
              </section>
              <section>
                <a class='btn long' href='#'>
                  <span>Long button</span>
                </a>
                <a class='btn long blue' href='#'>
                  <span>Long button</span>
                </a>
                <a class='btn long yellow' href='#'>
                  <span>Long button</span>
                </a>
                <a class='btn long red' href='#'>
                  <span>Long button</span>
                </a>
                <a class='btn long green' href='#'>
                  <span>Long button</span>
                </a>
                <a class='btn long turquoise' href='#'>
                  <span>Long button</span>
                </a>
              </section>
              <section class='last'>
                <a class='btn large' href='#'>
                  <span>Big button</span>
                </a>
                <a class='btn large blue' href='#'>
                  <span>Big button</span>
                </a>
                <a class='btn large yellow' href='#'>
                  <span>Big button</span>
                </a>
                <a class='btn large red' href='#'>
                  <span>Big button</span>
                </a>
                <a class='btn large green' href='#'>
                  <span>Big button</span>
                </a>
                <a class='btn large turquoise' href='#'>
                  <span>Big button</span>
                </a>
              </section>
            </article>
            <!-- Buttons end here -->
            <hr />
            <div class='row-fluid'>
              <!-- Block with TABs begin here -->
              <article class='tabs span6'>
                <h2>Tabs</h2>
                <div class='tabs_wrapper'>
                  <!-- tab links -->
                  <ul class='tabs-nav'>
                    <li>
                      <a class='current' href='#'>Item 1</a>
                    </li>
                    <li>
                      <a href='#'>Item 2</a>
                    </li>
                    <li>
                      <a href='#'>Item 3</a>
                    </li>
                  </ul>
                  <!-- tab links end -->
                  <!-- tab content -->
                  <section class='tabs-content'>
                    <section class='tab-content'>
                      <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                    </section>
                    <section class='tab-content'>
                      <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                    </section>
                    <section class='tab-content'>
                      <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
                    </section>
                  </section>
                  <!-- tab content end -->
                </div>
              </article>
              <!-- Block with TABs end here -->
              <!-- Block with TOGGLEs begin here -->
              <article class='accordion span6'>
                <h2>Accordion</h2>
                <div class='accordion_wrapper'>
                  <section class='accord'>
                    <h5 class='current'>
                      <span>The point of using Lorem Ipsum is that it has a more-or-less</span>
                    </h5>
                    <div class='accordion-content'>
                      <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    </div>
                    <h5>
                      <span>Many desktop publishing packages and web page editors</span>
                    </h5>
                    <div class='accordion-content'>
                      <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    </div>
                    <h5>
                      <span>Will be distracted by the readable content of a page when</span>
                    </h5>
                    <div class='accordion-content'>
                      <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    </div>
                  </section>
                </div>
              </article>
              <!-- Block with TOGGLEs end here -->
            </div>
            <hr />
            <div class='row-fluid'>
              <!-- Tables begin -->
              <article class='tables span6'>
                <h2>Tables</h2>
                <table border='' class='plenius-table'>
                  <tr>
                    <th>Item 1</th>
                    <th>Item 1</th>
                    <th>Item 1</th>
                    <th>Item 1</th>
                    <th>Item 1</th>
                  </tr>
                  <tr>
                    <td>Item 2</td>
                    <td>Item 2</td>
                    <td>Item 2</td>
                    <td>Item 2</td>
                    <td>Item 2</td>
                  </tr>
                  <tr>
                    <td>Item 3</td>
                    <td>Item 3</td>
                    <td>Item 3</td>
                    <td>Item 3</td>
                    <td>Item 3</td>
                  </tr>
                  <tr>
                    <td>Item 4</td>
                    <td>Item 4</td>
                    <td>Item 4</td>
                    <td>Item 4</td>
                    <td>Item 4</td>
                  </tr>
                  <tr>
                    <td>Item 5</td>
                    <td>Item 5</td>
                    <td>Item 5</td>
                    <td>Item 5</td>
                    <td>Item 5</td>
                  </tr>
                </table>
              </article>
              <!-- Tables end -->
              <!-- Example block with colored style -->
              <article class='style-boxes span6'>
                <h2>Styled Boxes</h2>
                <section class='style-box info'>
                  <div class='box-logo'>
                    <p class='last'>Information Styled Box</p>
                  </div>
                </section>
                <section class='style-box warning'>
                  <div class='box-logo'>
                    <p class='last'>Warning Styled Box</p>
                  </div>
                </section>
                <section class='style-box access'>
                  <div class='box-logo'>
                    <p class='last'>Access Styled Box</p>
                  </div>
                </section>
                <section class='style-box help last'>
                  <div class='box-logo'>
                    <p class='last'>Help Styled Box</p>
                  </div>
                </section>
              </article>
              <!-- Example block with colored style end -->
            </div>
            <hr />
            <!-- block lists begin here -->
            <article class='lists'>
              <h2>Lists</h2>
              <div class='row-fluid'>
                <ul class='list_1 span2'>
                  <li>Arrow List Item  1</li>
                  <li>Arrow List Item  2</li>
                  <li>Arrow List Item  3</li>
                  <li>Arrow List Item  4</li>
                </ul>
                <ul class='list_2 span2'>
                  <li>Check List Item 1</li>
                  <li>Check List Item 2</li>
                  <li>Check List Item 3</li>
                  <li>Check List Item 4</li>
                </ul>
                <ul class='list_3 span2'>
                  <li>Bullet List Item 1</li>
                  <li>Bullet List Item 2</li>
                  <li>Bullet List Item 3</li>
                  <li>Bullet List Item 4</li>
                </ul>
                <ul class='list_4 span2'>
                  <li>Add List Item 1</li>
                  <li>Add List Item 2</li>
                  <li>Add List Item 3</li>
                  <li>Add List Item 4</li>
                </ul>
                <ul class='list_5 span2'>
                  <li>Star List Item 1</li>
                  <li>Star List Item 2</li>
                  <li>Star List Item 3</li>
                  <li>Star List Item 4</li>
                </ul>
                <ul class='list_6 span2'>
                  <li>Close List Item 1</li>
                  <li>Close List Item 2</li>
                  <li>Close List Item 3</li>
                  <li>Close List Item 4</li>
                </ul>
              </div>
            </article>
            <!-- block lists begin here -->
            <hr class='line-25 noline' />
          </div>
        </div>
      </div>
      <div class='empty'></div>
    </div>
    <div class='footer_texture light_theme'>
  <div class='inner'>
    <footer class='container'>
      <div class='row-fluid'>
        <!-- /widget 1 begin -->
        <article class='widget-1 span3'>
          <h2>About Plenius</h2>
          <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes. on purpose (injected humour and the like).</p>
          <section class='social'>
            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
            <a class='flickr social-tooltip' href='#' title='flickr'>Flickr</a>
          </section>
        </article>
        <!-- / widget 1 begin -->
        <!-- / Interesting Links begin -->
        <article class='widget-2 span3'>
          <h2>Interesting Links</h2>
          <ul>
            <li>
              <a href='#'>Readable content of a page</a>
            </li>
            <li>
              <a href='#'>Looking at its layout is that</a>
            </li>
            <li>
              <a href='#'>It has a More-or-less normal</a>
            </li>
            <li>
              <a href='#'>Distribution of Letters</a>
            </li>
            <li>
              <a href='#'>Using content Content here</a>
            </li>
            <li>
              <a href='#'>Readable English</a>
            </li>
          </ul>
        </article>
        <!-- / Interesting Links end -->
        <!-- / widget 3 begin -->
        <article class='widget-3 span3'>
          <h2>Twitter Feed</h2>
          <div class='twitter_widget'></div>
          <p class='last'>
            Premium Web Templates and Themes for professionals business work with
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
          <hr class='line-20' />
          <p>
            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
            <a href='#'>http://brong.lt/rIGkm67</a>
          </p>
        </article>
        <!-- / widget 3 end -->
        <!-- / Contact form begin -->
        <article class='widget-4 span3'>
          <h2>Contact Form</h2>
          <form action='mail.php' class='plenius-form check_form' method='post'>
            <div class='field'>
              <input class='w_def_text check' data-placeholder='Name*' name='name' title='Your Name*' type='text' value='Name*' />
            </div>
            <div class='field'>
              <input class='w_def_text check email' data-placeholder='E-mail*' name='email' title='Your E-Mail*' type='text' value='E-mail*' />
            </div>
            <div class='field'>
              <textarea class='w_def_text check' cols='1' data-placeholder='Message*' name='message' rows='1' title='Message'>Message*</textarea>
            </div>
            <input class='btn' type='submit' value='Send' />
          </form>
        </article>
        <!-- / Contact form begin -->
        <hr class='line-20' />
        <article class='copyrights-box'>
          <!-- / Footer Menu begin -->
          <section class='foot-menu'>
            <ul>
              <li class='first active'>
                <a href='#'>Home</a>
              </li>
              <li>
                <a href='#'>Futures</a>
              </li>
              <li>
                <a href='#'>Shortcodes</a>
              </li>
              <li>
                <a href='#'>Portfolio</a>
              </li>
              <li>
                <a href='#'>Blog</a>
              </li>
              <li class='last'>
                <a href='#'>Contacts</a>
              </li>
            </ul>
          </section>
          <!-- / Footer Menu end -->
          <!-- / Copyrights begin -->
          <section class='copyrights'>
            <p>
              Copyright &copy; 2012
              <a href='#'>Plenius</a>.
              All rights reserved.
            </p>
          </section>
          <!-- / Copyrights end -->
        </article>
      </div>
    </footer>
  </div>
</div>
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
      //]]>
    </script>
    <script src="js/libs/jquery.tools.min.js" type="text/javascript"></script>
<script src="js/libs/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="js/libs/jquery.animate.css.rotate.scale.js" type="text/javascript"></script>
<script src="js/libs/jquery.css.transform.js" type="text/javascript"></script>
<script src="js/libs/jquery.quicksand.js" type="text/javascript"></script>
<script src="js/libs/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/libs/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="js/carousel.js" type="text/javascript"></script>
<script src="js/filter.js" type="text/javascript"></script>
<script src="js/libs/jquery.cookie.js" type="text/javascript"></script>
<script src="js/settings.js" type="text/javascript"></script>
    <!-- end scripts -->
  </body>
</html>
